
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Juan Manuel Gonzalez Navas</h3>
    <IMG SRC="/images/rana.jpg" width='200' height='150'>
   <video src="/images/video.webm" autoplay loop width='200' height='150'></video>
  </body>
</html>
